DB_URL=jdbc:postgresql://localhost:5432/NCKH
DB_USERNAME=postgres
DB_PASSWORD=123456
JWT_SECRET=your_jwt_secret_here
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
ADMIN_USERNAME=adminkien
ADMIN_PASSWORD=admin
ADMIN_LAST_NAME=Kien
ADMIN_FIRST_NAME=Nguyen
